@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Cairo&display=swap');

body {
    font-family: "Cairo", sans-serif;
}

/*--------------------- Colors*/

.contact-details, .cv-link {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}

.social-links, .map-box {
    background-color: #e3efe8;
    background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
}

#copyright {
    background-color: #2c2d54;
 }

 .active-link {
    color: #2c2d54;
 }

/*--------------------- Nav bar*/

.navbar {
margin-right: -15px
}

.nav-item {
    font-family: "Michroma", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;    
}

.active span {
    border-bottom: 2px solid #2c2d54;
}

/*--------------------- Footer*/

#base {
    padding: 0;
}

.foot-heading {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px auto 20px;
}

#foot-info p {
    margin-top: 15px;
    font-size: 20px;
}

.contact-details span {
    margin: 10px;
    font-size: 20px;
}

.active-link {
    font-size: 30px;
    margin: 20px;
}

.active-link:hover {
    color: #ed3636;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright {
    color: #8b8b97;
    padding: 0;
}

#copyright p {
    margin-top: 15px;
}

/*--------------------- Landing Page*/

/*--------------------- Heading*/

h3 {
    color: #2c2d54;
    font-weight: 700;
    font-style: uppercase;
    text-decoration: underline;
    margin: 30px 0 20px 0;
    text-align: center;
    letter-spacing: 1px;
}

/*---------- Personal Statement*/

.personal-info {
    border: 2px solid red;
}

.about-me {
    border: 2px solid blue;
}

.right-side {
    border: 2px solid green;
}

.first-half {
    border: 2px solid purple;
}

/*-------------------- About Me*/

/*---------------- General Info*/

.rig-image img {
    border-radius: 10px;
    /*padding: 0 5px 5px 0;*/
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
}

.right-side img {
    position: relative;
    width: 100%;
    margin: 0;
}

/*-------------------- Resume--*/
/*Accordion Style adapted from https://supfort.com/font-awesome-accordion-arrow-css*/

.resume-section {
    margin-bottom: 20px;
}

.progress   {
    position: relative;
    height: 25px;
    width: 90%;
    margin-bottom: 10px;
}

.qualification {
    font-size: 18px;
    font-weight: bold;
}

#rgu-mods {
    font-size: 18px;
    font-weight: bold;
}

.school {
    font-size: 16px;
    font-weight: normal;
}

.company-box, .container-fluid {
    padding: 2px 4px 4px 2px;
    margin: 0;
}

.dates-box {
    padding-top: 10px;
}

.work-dates {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;

}

.job-dropdown {
    display: none;
}

.job-title {
    display: block;
    padding: 8px 22px;
    margin: 0 0 5px 0;
    cursor: pointer;
    background: #2c2d54;
    border-radius: 3px;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: bold;
    transition: ease .5s;
	position: relative;
}

.job-title:hover {
    background: #4E8774;
}

.job-title::after {
	font-family: "Font Awesome 5 Free";
	content: '\f078';
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	right: 10px;
	top: 6px;
}

.job-dropdown:checked + label::after {
	content: '\f077';
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;

    margin: 0 0 10px 0;
    border-radius: 3px;
}

.job-dropdown + .job-title + .content {
    display: none;
}

.job-dropdown:checked + .job-title + .content {
    display:block;
}

/*----------------- Portfolio--*/


/*-------------- Contact Info--*/

.contact-information {
    margin-bottom: 0;
}

.contact-section h3 {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 30px 0;
}

.map-box {
    padding-left: 25px;
}

.contact-table {
    padding-bottom: 20px;
    padding-left: 10px;
    display: block;
    clear: both;
}

.contact-table .key, 
.contact-table .value {
    padding-right: 10px;
    display: inline-block;
}

.contact-table .key p, 
.contact-table .value p {
    margin: 10px;
}

.contact-table .key {
    width: 30%;
    margin-right: 20px;
    padding-top: 2px;
    vertical-align: center;
}

.contact-table .key p {
    font-size: 20px;
    font-weight: 600;
}

.contact-table .value {
    position: relative;
    width: 60%;
}

.contact-form-box {    
    background: url("../images/bw-rig.jpg") no-repeat center center;
    color: #2c2d54;
    padding-bottom: 30px;
    background-size: cover;
}

.contact-form {
    max-width: 500px;
    margin: 40px auto 20px;
}

.contact-form .submit-button {
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 40%;
    background-color: #81da81;
    color: #2c2d54;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*-------------- Media Queries--*/

@media(max-width: 992px) {
.center-form {
        max-width: 50%;
        margin:  0 auto;
        }
}