@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Cairo&display=swap');

body {
    font-family: "Cairo", sans-serif;
}

/*--------------------- Colors*/

.contact-details, .cv-link {
    background-color: #AED6F1
}

.social-links, .map-box {
    background-color: #d6d4d4;
}

#copyright {
    background-color: #2c2d54;
 }

 .active-link {
    color: #2c2d54;
 }

 .map-box {
     background-color: #f9f6f6;
 }

/*--------------------- Nav bar*/

.navbar {
margin-right: -15px
}

.nav-item {
    font-family: "Michroma", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;    
}

.active span {
    border-bottom: 2px solid #2c2d54;
}

/*--------------------- Heading*/


/*---------- Personal Statement*/


/*-------------------- About Me*/


/*--------------------- Footer*/

#base {
    padding: 0;
}

.foot-heading {
    font-family: 'Michroma', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 10px auto;
}

#foot-info p {
    margin-top: 15px;
    font-size: 20px;
}

.active-link {
    font-size: 30px;
    margin: 20px;
}

.active-link:hover {
    color: #ed3636;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright {
    color: #8b8b97;
    padding: 0;
}

#copyright p {
    margin-top: 15px;
}

/*----------------- Portfolio--*/

/*-------------------- Resume--*/

/*-------------- Contact Info--*/

.map-box {
    padding-left: 25px;
}

.contact-table {
    margin-bottom: 20px;
    padding-left: 10px;
    display: block;
    clear: both;
}

.contact-table .key, 
.contact-table .value {
    padding-right: 10px;
    display: inline-block;
}

.contact-table .key p, 
.contact-table .value p {
    margin: 10px;
}

.contact-table .key {
    width: 30%;
    margin-right: 20px;
    padding-top: 2px;
    vertical-align: top;
}

.contact-table .key p {
    font-weight: 600;
}

.contact-table .value {
    position: relative;
    width: 60%;
}

.contact-form-box {    
    color: #2c2d54;
    padding-bottom: 30px;
}

.contact-form-box h3 {
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-form {
    max-width: 500px;
    margin: 40px auto 20px;
}

/*.form-control {
    
}*/

/*-------------- Media Queries--*/

@media(max-width: 992px) {
.center-form {
        max-width: 50%;
        margin:  0 auto;
}