@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Cairo&display=swap');

body {
    font-family: "Cairo", sans-serif;
}

p {
    font-size: 20px;
}

/*--------------------- Colors*/

.navy-blue {
    background-color: #333d51;    
}

.gold-hue {
    background-color: #fae596;    
}

.med-grey {
    background-color: #dddfd4;
 }

 .off-white {
    background-color: #f4f3ea;
 }

 .light-teal {
     background-color: #3fb0ac;
 }

/*--------------------- Nav bar*/

.navbar {
    margin-right: -15px;
}

.nav-item {
    font-family: "Michroma", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;    
}

.active span {
    border-bottom: 2px solid #fae596;
}

/*--------------------- Footer*/

#base {
    padding: 0;
}

.foot-heading {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px auto 20px;
}

#foot-info p {
    margin-top: 15px;
    font-size: 20px;
}

.contact-details span {
    margin: 10px;
    font-size: 20px;
}

.active-link {
    font-size: 30px;
    margin: 20px;
}

.active-link:hover {
    color: #ef6c33;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright {
    color: #f4f3ea;
    padding: 0;
}

#copyright p {
    margin-top: 15px;
}

/*--------------------- Heading*/

h3 {
    color: #333d51;
    font-weight: 700;
    font-style: uppercase;
    text-decoration: underline;
    margin: 30px 0 20px 0;
    text-align: center;
    letter-spacing: 1px;
}


/*--------------------- Landing Page*/

.main-page {
    border: 2px solid purple;
}

/*-- Personal Statement*/

.personal-info {
    border: 2px solid red;
}

.about-me {
    border: 2px solid blue;
}

.right-side {
    border: 2px solid green;
}

.first-half {
    border: 2px solid purple;
}

/*----------- About Me*/

/*------- General Info*/

.rig-image img {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    /*padding: 0 5px 5px 0;*/
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
}

.world-map img {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    /*padding: 0 5px 5px 0;*/
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
}

/*------- Resume page Link */

.resume-link {
    text-align: center;
    margin: 30px 0;
}

/*-------------------- Resume--*/
/*Accordion Style adapted from https://supfort.com/font-awesome-accordion-arrow-css*/

.resume-section {
    margin-bottom: 20px;
}

.progress   {
    background-color: white;
    border: 1px solid #333d51;
    position: relative;
    height: 25px;
    width: 90%;
    margin-bottom: 10px;
}

.qualification {
    font-size: 18px;
    font-weight: bold;
}

#rgu-mods {
    font-size: 18px;
    font-weight: bold;
}

.school {
    font-size: 16px;
    font-weight: normal;
}

.company-info {
    padding: 2px 4px 4px 2px;
    margin-top: 50px;
}

.work-role {
    margin-bottom: 20px;
}

.work-dates {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;

}

.job-dropdown {
    display: none;
}

.job-title {
    display: block;
    padding: 8px 22px;
    margin: 0 0 5px 0;
    cursor: pointer;
    background: #333d51;
    border-radius: 3px;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: bold;
    transition: ease .5s;
	position: relative;
}

.job-title:hover {
    background: #3fb0ac;
}

.job-title::after {
	font-family: "Font Awesome 5 Free";
	content: '\f078';
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	right: 10px;
	top: 6px;
}

.job-dropdown:checked + label::after {
	content: '\f077';
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;

    margin: 0 0 10px 0;
    border-radius: 3px;
}

.job-dropdown + .job-title + .content {
    display: none;
}

.job-dropdown:checked + .job-title + .content {
    display:block;
}

/*----------------- Portfolio--*/

.side-bar {
    padding: 20px;
}

.portfolio-image img {
    max-height: 100%;
    min-width: 100%;
    display: block;
    border-radius: 25px;
    margin-top: 20px;
}

.portfolio-text h3 {
    margin-bottom: 50px;
}

.portfolio-text p {
    padding-left: 15px;
}

#project-1 {
    border: 1px solid red;
}

#project-2 {
    border: 1px solid black;
}

/*-------------- Contact Info--*/

.contact-page {
    margin-bottom: 0;
}

.contact-section h3 {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 30px 0;
}

.location {
    padding-left: 25px;
}

.contact-table {
    padding-bottom: 20px;
    padding-left: 10px;
    display: block;
    clear: both;
}

.contact-table .key, 
.contact-table .value {
    padding-right: 10px;
    display: inline-block;
}

.contact-table .key p, 
.contact-table .value p {
    margin: 10px;
}

.contact-table .key {
    width: 30%;
    margin-right: 20px;
    padding-top: 2px;
    vertical-align: center;
}

.contact-table .key p {
    font-size: 20px;
    font-weight: 600;
}

.contact-table .value {
    position: relative;
    width: 60%;
}

.contact-me {    
    background: url("../images/bw-rig.jpg") no-repeat center center;
    color: #333d51;
    padding-bottom: 30px;
    background-size: cover;
}

.contact-form {
    max-width: 500px;
    margin: 40px auto 20px;
}

.contact-form .submit-button {
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 40%;
    background-color: #81da81;
    color: #2c2d54;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*-------------- Media Queries--*/

@media(max-width: 992px) {
.center-form {
        max-width: 50%;
        margin:  0 auto;
        }
}